.aplyanyo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background: #31C1BF;

}

.aplyany{
width: 1440px;
height: 596px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.aptop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aphead{
    width: 746px;
    height: 72px;
    
    /* H1/Semibold 64px */
    
    font-family: 'MessinaSans-Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    /* identical to box height, or 112% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.043em;
    
    /* White */
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;    
    margin-left:10px;
}
.apbut{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    gap: 12px;
    
    width: 240px;
    height: 52px;
    
    /* White */
    
    background: #FFFFFF;
    border-radius: 90px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'MessinaSans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    
    /* Dark */
    
    color: #1B2022;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    text-decoration: none;
    margin: 0;
}
.lastline{
    margin: 0;
    margin-top: 60px;
    display: flex;
    
    /* Body 1 / Regular 18px */
    
    font-family: 'MessinaSans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    text-align: center;
    letter-spacing: -0.03em;
    
    /* White */
    
    color: #FFFFFF;
    
}
.lastline>a{
    color: #FFFFFF;
}
.lastline>a:hover{
    color: #ececec;
}
.apbut:hover{
    border: 0.05px solid black;
}
.lastlbox{
        width: 450px;
    height: 26px;

}
.lastlinemob{
    display: none;
}
pre {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}
@media screen and (max-width:480px) {
    .aplyany{
        margin-top: 500px;
        width: 100%;
        height: 506px;
        background-color: #31C1BF;
    }
    .aplyanyo{
        background-color: white;
    }
    .aphead{
        width: 312px;
        height: 92px;
        
        /* H2/Semibold 38px */
        
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 46px;
        /* or 121% */
        
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.04em;
        
        /* White */
        
        color: #FFFFFF;
        margin-left: 0;
    }    
    .apbut{
        width: 235px;
        height: 46px;
        
    }
    .lastline{
        display: none;
    }
    .lastlinemob{
        display: inline;
        width: 100%;
        height: 52px;
        
        /* Body 1 / Regular 18px */
        
        font-family: 'MessinaSans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        /* or 144% */
        
        text-align: center;
        letter-spacing: -0.03em;
        
        /* White */
        
        color: #FFFFFF;
    }
    .lastlinemob>a{
        color: #FFFFFF;
   
    }
    .lastlbox{
        width: 280px;
        height: 52px;
        display: flex;

        align-items: center;
        justify-content: center;
        margin-top: 32px;
    }
}