.featured{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 163px;
    background: #F8FAFA;
    border-radius: 32px;
    padding-top: 49px;
}
.feattext{
    width: 365px;
    height: 28px;
    font-family: 'MessinaSans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #1B2022;
    margin-bottom: 40px;
}
.featlogo{
    margin-bottom: 40px;
}