@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: 'MessinaSerif-Regular';
    src: url('../../font/Messina/MessinaSerifWeb-Regular.eot'); /* IE9 Compat Modes */
    src: url('../../font/Messina/MessinaSerifWeb-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../font/Messina/MessinaSerifWeb-Regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../../font/Messina/MessinaSerifWeb-Regular.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-FB04;
}

@font-face {
    font-family: 'MessinaSerif-SemiBold';
    src: url('../../font/Messina/MessinaSerifWeb-SemiBold.eot'); /* IE9 Compat Modes */
    src: url('../../font/Messina/MessinaSerifWeb-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../font/Messina/MessinaSerifWeb-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */ url('../../font/Messina/MessinaSerifWeb-SemiBold.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-FB04;
}

@font-face {
    font-family: 'MessinaSans';
    src: url('../../font/Messina/MessinaSansWeb-Light.eot'); /* IE9 Compat Modes */
    src: url('../../font/Messina/MessinaSansWeb-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../font/Messina/MessinaSansWeb-Light.woff2') format('woff2'), /* Super Modern Browsers */ url('../../font/Messina/MessinaSansWeb-Light.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-FB04;
}

@font-face {
    font-family: 'MessinaSans-SemiBold';
    src: url('../../font/Messina/MessinaSansWeb-SemiBold.eot'); /* IE9 Compat Modes */
    src: url('../../font/Messina/MessinaSansWeb-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../font/Messina/MessinaSansWeb-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */ url('../../font/Messina/MessinaSansWeb-SemiBold.woff') format('woff'); /* Pretty Modern Browsers */
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-FB04;
}

.heading {
    width: 606px;
    margin-left: 9%;
    margin-top: 100px;
    letter-spacing: -0.04em;
    font-family: 'MessinaSans-SemiBold';
    font-weight: bolder;
    font-size: 64px;
    line-height: 72px;
    /* or 112% */

    letter-spacing: 0.002em;

    /* Dark */

    color: #1B2022;
}

.detail {
    width: 512px;
    margin-left: 9%;
    margin-top: 32px;

    font-family: 'MessinaSans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */

    letter-spacing: 0.01em;

    /* Dark */

    color: #1B2022;
}

.getusds {
    border: 1px solid #31C1BF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    gap: 16px;

    width: 100px;
    height: 20px;
    /* 3.017 */
    margin-left: 9%;
    margin-top: 32px;

    /* Primary/ Brand */
    background: #31C1BF;
    border-radius: 90px;

    text-decoration: none;
    color: white;
}

.getusds:hover {
    background-color: white;
    color: #31C1BF;
    border: 1px solid #31C1BF;
}


.images > .top {
    position: absolute;
    width: 30%;
    /* 1.728 */
    right: 8%;
    top: 131px;
}

.images > .bottom {
    position: absolute;
    width: 40%;
    /* 1.755 */
    right: 9.4%;
    top: 344px;

}

.yield {
    width: 210px;
    height: 74px;
    margin: 0;


}

.gas {
    width: 210px;
    height: 74px;
    padding-right: 20px;
}

.compound {

    width: 210px;
    height: 74px;


}

.features {
    margin-top: 100px;
    margin-left: 9%;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: start;
}

.heading1, .heading2, .heading3 {
    display: flex;
}

.heading3 {
    width: 300px;
}

.heading1 > p, .heading2 > p, .heading3 > p {
    padding-left: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    font-family: 'MessinaSans';
    margin: 8px;
    justify-content: flex-start;
}

.gas > span, .compound > span, .yield > span {
    font-family: 'MessinaSans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    display: flex;
    align-items: center;
    color: #1B2022;
    width: 160px;
    height: 45px;
    padding-left: 38px;
}

.gas > span {
    width: 180px;
    margin-right: 10px;
}

.learnmore {
    /* width: 1176px; */
    height: 18px;
    margin-left: 9%;
    margin-top: 32px;
    font-family: 'MessinaSans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    /* Gray 5 */
    color: #707E85;
}
.getusdsMobile {
    display: none;
}


@media screen and (max-width:480px) {
    .heading{
        position: relative;
        width: 91%;
        height: 138px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'MessinaSans-Semibold';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        /* or 121% */
        
        letter-spacing: -0.04em;
        
        /* Dark */
        
        color: #1B2022;
    }
    .detail{
        position: relative;
        width: 91%;
        height: 120px;
        margin: 16px auto 0;
        
        /* Body 2 / Regular 16px */
        
        font-family: 'MessinaSans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */
        
        letter-spacing: -0.03em;
        
        /* Dark */
        
        color: #1B2022;
        
    }
    .images {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .images>.top{
        position: relative;
        width: 80%;
        height: fit-content;
        top: 16px;
        left: 15%;
    }
    .images>.bottom{
        position: relative;
        width: 100%;
        top: 0;
        height: fit-content;
        margin-left: -10%;
        left: 0;
    }
    .getusds{
        display: none;
    }
    .getusdsMobile {
        border: 1px solid #31C1BF;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px 40px;
        gap: 16px;

        width: 100px;
        height: 20px;
        /* 3.017 */
        margin-left: 4.5%;
        margin-top: 70px;

        /* Primary/ Brand */
        background: #31C1BF;
        border-radius: 90px;

        text-decoration: none;
        color: white;
    }

    .getusdsMobile:hover {
        background-color: white;
        color: #31C1BF;
        border: 1px solid #31C1BF;
    }

    .gas, .compound, .yield{
        margin-left: 4.5% ;
        position: relative;
    }
    .learnmore{
        position: relative;
        width: 91%;
        margin: 40px auto;
        height: 60px;
    }
    .features{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin: 60px 0 0;
        align-items: flex-start;
    }
    .gas{
        margin-top: 20px;
    }
    .compound{
        margin-top: 20px;
    }
}
@media screen and (max-width: 1000px) and (min-width: 481px) {
    .heading {
        font-size: 52px;
        letter-spacing: -0.02em;
        line-height: 60px;
        width: 504px;
        margin-left: 4%;
    }
    .images > .top {
        right: 4% !important;
        top: 250px !important;
    }
    .images > .bottom {
        right: 8% !important;
        top: 440px;
    }
    .detail {
        width: 367px;
        font-size: 16px;
        line-height: 26px;
        /* or 162% */

        letter-spacing: -0.03em;
        margin-left: 4%;
    }
    .features {
        margin-top: 300px;
        margin-left: 4%;
    }
    .learnmore {
        margin-left: 4%;
    }
    .getusds {
        margin-left: 4%;
    }
}