.Thirdpage{
    width: 82%;
    margin: -40px auto 0;
    text-align: center;
    position: relative;
}
.background-img {
    position: absolute;
    margin: auto;
    width: 30%;
    left: 35%;
    z-index: 100;
}
.joinspa{
    width: 624px;
    height: 168px;
    font-family: 'MessinaSans-Semibold';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 84px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #1B2022;
    margin-left: 310px;
}

.joinspadiv{
    background-color: white;
    margin-top: -650px;
}
@media screen and (max-width:480px) {
    .Thirdpage{
        position: relative;
        background: none;
        width: 100%;
        margin-top: -1300px;
    }
    .joinspa {
        position: relative;
        width: 80%;
        margin: 60px auto;
        font-size: 38px;
        line-height: 44px;
    }
    .joinspadiv {
        margin-top: -250px;
        text-align: center;
        font-size: 38px;
    }
}
@media screen and (max-width: 1000px) and (min-width: 481px) {
    .Thirdpage {
        width: 92%;
        margin-top: -700px;
    }
    .background-img {
        display: none;
    }
    .joinspa {
        font-size: 62px;
        text-align: center;
        margin-left: 0;
        margin: auto;
    }
    .joinspa>b {
        text-align: center;
        margin: auto;
    }
    .joinspadiv {
        margin-top: -400px;
        text-align: center;
    }
}