.board{
    background: #31C1BF;
    border-radius: 32px;
    width: 82%;
    height: 210px;
    margin: 60px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    text-align: center;
}
.boardhead>h3{
height: 72px;

    font-family: 'MessinaSans-Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    /* identical to box height, or 112% */

    display: flex;
    align-items: center;
    letter-spacing: -0.043em;

    /* White */

    color: #FFFFFF;

    margin-top: 30px;
    margin-bottom: 10px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.boarddesp>p{
    width: 173px;
    height: 26px;
    font-family: 'MessinaSans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */

    display: flex;
    align-items: center;
    letter-spacing: -0.03em;

    /* White */

    color: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
@media screen and (max-width:480px) {
    .board{
        position: relative;
        width: 91%;
        height: 598px;
        margin: 52px auto 0;
        /* Primary/ Brand */
        background: #31C1BF;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

}
.dn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 174px;
    overflow: hidden;
}

@media screen and (max-width: 1000px) and (min-width: 481px) {
    .board {
        width: 92%;
        justify-content: space-around;
    }
    .boardhead {
        font-size: 48px;
    }
    .boardhead>h3 {
        font-size: 52px;
    }
}
