.benehead>h1{    
    font-family: 'MessinaSans-Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    /* or 112% */
    
    letter-spacing: -0.043em;
    
    /* Dark */
    
    color: #1B2022;
    width: 724px;
    height: 144px;
    margin: 0;
    
}
.benehead{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    margin-top: 160px;
}
@media screen and (max-width:480px) {
    .benehead{
        margin: 0;
        margin-top: 180px;
        margin-bottom: 60px;
    }
    .benehead>h1{
        width: 328px;
        height: 92px;
        
        /* H2/Semibold 38px */
        
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 46px;
        /* or 121% */
        
        text-align: center;
        letter-spacing: -0.04em;
        
        /* Dark */
        
        color: #1B2022;
    }

}