.secondpage {
    background-color: #1B2022;
    width: 100%;
    text-align: center;
    padding-bottom: 259px;
}

.headingmini {
    font-weight: 600;
    font-size: 60px;
    color: white;
    font-family: 'MessinaSans';
    padding: 97px 300px 0 300px;
    line-height: 72px;
    text-align: center;

}

.headingmini > span {
    color: #31C1BF;
}

.getbuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.getbuttons > a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
    padding: 16px 40px;
    gap: 16px;
    width: 140px;
    height: 32px;
    background: #31C1BF;
    border-radius: 90px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px;
    margin-top: 35px;
}

.working {
    width: 82%;
    margin-top: 55px;
}

.workingmobile{
    display: none;
}


@media screen and (max-width:480px) {
    .secondpage {
        padding-bottom: 1300px;
    }
    .secondpage{
        position: relative;
        width: 100%;
        padding-top: 76px;
    }
    .headingmini{
        width: 70%;
        height: 92px;
        margin: 0 auto 0;
        position: relative;
        font-family: 'MessinaSans-Semibold';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        padding: 0;
        /* or 121% */
        
        text-align: center;
        letter-spacing: -0.04em;
    }
    .headingmini>span{
        color:#31C1BF;
    }
    .getbuttons {
        display: flex;
        width: 91%;
        margin: 40px auto 0;
        justify-content: space-between;
    }
    .getbuttons>a{
/* Auto layout */
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4px 10px;
        gap: 16px;
        
        width: 132.41px;
        height: 48px;
        
        margin: 0px;
        /* Primary/ Brand */

        background: #31C1BF;
        border-radius: 90px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;        
    }
    .al{
        position:absolute;
        left: 18px;
    }
    .ar{
        position:absolute;
        left: 194px;
    }
    .working{
        display: none;
    }
    .workingmobile{
        display: block;
        position: relative;
        width: 91%;
        margin: 52px auto 0;
    }
}
@media screen and (max-width: 1000px) and (min-width: 481px) {
    .headingmini {
        font-size: 52px;
        padding: 97px 0px 0 0px;
    }
    .working {
        width: 92%;
    }
    .secondpage {
        padding-bottom: 900px;
    }
}
