.spartan > img {
    width: 82%;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.spartan {
    text-align: center;
}

@media screen and (max-width: 480px) {
    .spartan {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .spartan > img {
        width: 100%;
        transform: scale(1.5);
        margin-top: 100px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 481px) {
    .spartan > img {
        margin: 0;
        width: 92%;
    }
}