.BColor{
    margin-left: 132px;
    margin-right: 132px;
    margin-top: 140px;
}



.BrandColorcards{
    display: flex;
    margin-top: 35px;
    margin-bottom: 200px;
    width: 804px;
    height: 240px;
}
.fcard{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 236px;
    
    /* Gray 1 */
    
    background:  #F8FAFA;
    border-radius: 20px;
    
    /* Inside auto layout */
    
    
    order: 0;
    flex-grow: 0;
}
.fcolor{
    width: 230px;
    height: 160px;
    
    background: #31C1BF;
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    border-radius: 20px 20px 0 0;
}

.scard{
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    flex-direction: column;

    width: 230px;
    height: 236px;
    
    /* Gray 1 */
    
    background: #F8FAFA;
    border-radius: 20px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.scolor{
    width: 230px;
    height: 160px;
    
    background: #00FFB9;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    border-radius: 20px 20px 0 0;
}

.fcard>p{
    width: 206px;
    height: 26px;
    
    /* Body 1/Semibold 18px */
    
    font-family: 'MessinaSans-Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    letter-spacing: -0.03em;
    
    /* Dark */
    
    color: #1B2022;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0;
    margin-top: 10px;
}
.scard>p{
    width: 206px;
    height: 26px;
    
    /* Body 1/Semibold 18px */
    
    font-family: 'MessinaSans-Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    letter-spacing: -0.03em;
    
    /* Dark */
    
    color: #1B2022;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0;
    margin-top: 10px;
}

.fcard>span{
    width: 206px;
    height: 26px;
    
    /* Body 1 / Regular 18px */
    
    font-family: 'MessinaSans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    letter-spacing: -0.03em;
    
    /* Gray 5 */
    
    color: #707E85;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0;
}
.scard>span{
    width: 206px;
    height: 26px;
    
    /* Body 1 / Regular 18px */
    
    font-family: 'MessinaSans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    letter-spacing: -0.03em;
    
    /* Gray 5 */
    
    color: #707E85;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0;
}

.BrandColor>p{

    width: 213px;
    height: 46px;
    
    /* H2/Semibold 38px */
    
    font-family: 'MessinaSans-Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    /* identical to box height, or 121% */
    
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
    
    /* Dark */
    
    color: #1B2022;
    margin: 0;
    
}
.BrandColor>span{
    width: 1060px;
    height: 52px;
    /* Body 1 / Regular 18px */
    
    font-family: 'MessinaSans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */
    
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    
    /* Gray 5 */
    
    color: #707E85;
    margin-top: 10px;
    
}
.lcard{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 236px;
    
    /* Gray 1 */
    
    background: #F8FAFA;
    border-radius: 20px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;

}

.lcard>p{
    width: 222.67px;
    height: 26px;
    
    /* Body 1/Semibold 18px */
    
    font-family: 'MessinaSans-Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    letter-spacing: -0.03em;
    
    /* Dark */
    
    color: #1B2022;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0;
    margin-top: 10px;

}
.lcard>span{

    width: 222.67px;
    height: 26px;
    
    /* Body 1 / Regular 18px */
    
    font-family: 'MessinaSans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    letter-spacing: -0.03em;
    
    /* Gray 5 */
    
    color: #707E85;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0;
}
.lcolor{
    width: 230px;
    height: 160px;
    
    background:#1B2022;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    border-radius: 20px 20px 0 0;

}

@media screen and (max-width:480px){
    .BColor{
        margin: 0;
        margin-top: 64px;
        margin-left: 17px;
    }
    .BrandColor>p{
    
width: 328px;
height: 46px;

/* H2/Semibold 38px */

font-family: 'MessinaSans-Semibold';
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 46px;
/* identical to box height, or 121% */

display: flex;
align-items: center;
letter-spacing: -0.04em;

/* Dark */

color: #1B2022;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
    }
    .BrandColor>span{
        width: 328px;
        height: 182px;
        
        /* Body 1 / Regular 18px */
        
        font-family: 'MessinaSans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        /* or 144% */
        
        display: flex;
        align-items: center;
        letter-spacing: -0.03em;
        
        /* Gray 5 */
        
        color: #707E85;
        
        
        /* Inside auto layout */
        
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }
    .BrandColorcards{
        margin: 0;
        display: flex;
        flex-direction: row;
        overflow: scroll;
        flex-direction: row;
        margin-top: 64px;
        width: 95%;

    }
    .fcard,.scard{
        display: block;
        margin: 0;
    }
    .fcard{
        margin-right: 32px;
    }
    .lcard{
        margin-left: 20px;
        margin-right: 10px;
    }
}