.postercard2{
    background: #31C1BF;
    border-radius: 32px;
    width: 59%;
    overflow: hidden;
    height: 524px;
    text-align: left;
    /* padding: 52px; */
    margin: 0 0 0 24px;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.headtext2>h3{
    font-family: 'MessinaSans-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    width: 87px;
    height: 46px;
    margin: 0;
    margin-bottom: 16px;
    margin-left: 40px;
    margin-top: 52px;
}
.headtext2>p{
    font-family: 'MessinaSans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: white;
    width: 476px;
    height: 84px;
    margin-bottom: 48px;
    margin-left: 40px;
}
.alinks2{
    font-family: 'MessinaSans-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    text-decoration: none;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 400px;
    margin-left: 52px;
}
.alinks2>a{
    margin-right: 52px;
}

.above{
    z-index: 1;
    position: relative;
    float: right;
    margin-top: -30%;
    right: 0
}
.below{
    z-index: 0;
    margin-bottom: -14.5px;
}
.postimg2{
    overflow: hidden;
    text-align: right;
}
.at{
    color: #FFFFFF;
    text-decoration-line: underline;
    text-decoration-color: #FFFFFF;

}
@media screen and (max-width:480px) {
    .postercard2 {
        width: 100%;
        height: fit-content;
        margin: 24px auto 0;
    }
    .headtext2 {
        width: 100%;
    }
    .headtext2>h3 {
        font-size: 28px;
        line-height: 1;
        margin-left: 16px;
    }
    .headtext2>p {
        width: 91%;
        margin-left: 16px;
        margin-bottom: 0;
        height: fit-content;
    }
    .alinks2 {
        margin-left: 16px;
        margin-top: 16px;
    }
    .postimg2 {
        margin-top: 70px;
        overflow: hidden;
    }
    .postimg2>img {
        height: fit-content;
    }
}

@media screen and (max-width: 1000px) and (min-width: 481px) {
    .postercard2 {
        width: 49%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .headtext2 {
        width: 100%;
    }
    .headtext2>h3 {
        font-size: 28px;
        line-height: 1;
        margin-left: 32px;
        align-items: flex-start;
    }
    .headtext2>p {
        font-size: 18px;
        line-height: 26px;
        margin-left: 32px;
        margin-right: 32px;
        width: fit-content;
        text-align: left;
        height: fit-content;
    }
    .postimg>img {
        width: 100%;
        margin-bottom: -50px;
    }
    .alinks2 {
        margin-left: 32px;
    }
    .postimg {
        overflow: hidden;
    }
}