.postercard{
    background: #31C1BF;
    border-radius: 32px;
    width: 49%;
    text-align: left;
    height: 524px;
    /* overflow: hidden; */
    /* overflow: hidden; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.headtext1>h3{
    font-family: 'MessinaSans-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    display: flex;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    width: 207px;
    height: 46px;
    margin: 0;
    margin-bottom: 16px;
    margin-left: 52px;
    margin-top: 52px;
    align-items: flex-start;
    align-content: flex-start;
}
.headtext1>p{
    font-family: 'MessinaSans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: white;
    width: 472px;
    height: 56px;
    margin-bottom: 76px;
    margin-left: 52px;
}
.alinks{
    font-family: 'MessinaSans-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.03em;
    text-decoration: none;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 300px;
    height: 26px;
    margin-bottom: 12px;
    justify-content: left;
    margin-left: 52px;
}
.alinks>a{
    margin-right: 52px;
    cursor: pointer;
}

.alinks>span{
    color: white;
}
.postimg {
    overflow: hidden;
}
.postimg>img{
    margin-top:0;
    width: 100%;
    height: 244px;
    margin-bottom: -20px;
}
.at{
    color: #FFFFFF;
    text-decoration-color: #FFFFFF;

}
@media screen and (max-width:480px) {
    .postercard {
        width: 100%;
        height: fit-content;
    }
    .headtext1>h3 {
        font-size: 28px;
        line-height: 1;
        margin-left: 16px;
    }
    .headtext1>p {
        width: fit-content;
        margin-left: 16px;
        margin-bottom: 0;
    }
    .alinks {
        margin-left: 16px;
        margin-top: 16px;
    }
    .postimg {
        margin-top: 70px;
        overflow: hidden;
    }
    .postimg>img {
        height: fit-content;
    }
}
@media screen and (max-width: 1000px) and (min-width: 481px) {
    .headtext1>h3 {
        font-size: 28px;
        line-height: 1;
        margin-left: 32px;
    }
    .headtext1>p {
        font-size: 18px;
        line-height: 26px;
        margin-left: 32px;
        margin-right: 32px;
        width: fit-content;
        text-align: left;
    }
    .alinks {
        margin-left: 32px;
    }
    .postimg>img {
        width: 100%;
        margin-bottom: -50px;
    }
    .postimg {
        overflow: hidden;
    }
}


















