.Navbar{
    background-color: white;
    display: grid;
    width: 82%;
    grid-template-columns: 4fr 3fr;
    margin: 1.5vmax auto;
    /* padding: 0px 132px; */
}

.leftPart{
    justify-content: left;
    display: flex;
    align-items: center;
}
.leftPart>.speraxlogo img{
    width: 24px;
}
.textlinks {
    display: flex;
    align-items: center;
}
.linktextspa{
    margin: 0.6vmax;
    margin-left:0 ;
    text-decoration: none;
    padding-right: 1.5vmax;
    padding-left: 0.7vmax;
    font-family: Messina Modern;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #1B2022;;
}

.linktext{
    margin: 0.7vmax;
    padding-right: 1.5vmax;
    color: #1B2022;;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-align: left;
    font-family:'MessinaSans';}
.linktext:hover{
    color: #37d4d1;
}
.leftPart:last-child img{
    width: 50%;
}
.Navbar>.rightPart{
    flex-direction: row;
    display:flex;
    text-align: right;
    justify-content:flex-end;
}
.Navbar>.rightPart>.social{
    padding-top: 1vmax;
    margin-right: 1vmax;
}
.Navbar>.rightPart>.social>a{
    padding: 1vmax;
}
.icon:hover{
    transform: scale(1.5);
    transition: all 0.02s;
}
.Navbar>.rightPart>.app{
    border-radius: 90px;
    background-color: #31C1BF;
    width: 163.2px;
    height: 34px;
    border:0px;
}
.Navbar>.rightPart>.app{
    color:white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    padding-top: 0.55vmax;
    border: 1px solid #31C1BF;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.03em;

}
.Navbar>.rightPart>.app:hover{
    background-color: white;
    color: #31C1BF;
    border: 1px solid #31C1BF;
}
.mobileRight {
    display: none !important;
}
@media screen and (max-width:480px) {
    .linktext, .social{
        display: none;
    }
    .mobileMenuContainer {
        display: flex;
        flex-direction: column;
        background: white;
        text-align: center;
        z-index: 100;
        position: absolute;
        width: 100%;
        height: 200px;
        left: 0;
        border-bottom: 1px solid #E0E0E0;
        justify-content: space-around;
        align-items: center;
    }
    .mobileMenuContainer>a {
        text-decoration: none !important;
        color: #000000;
    }
    .mobileMenuContainer>a>img {
        position: absolute;
    }
    .Navbar{
        position: absolute;
        height: 56px;
        width: 100%;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        margin: 1.5vmax 0;
        justify-content: space-between;
    }
    .Navbar>.rightPart {
        display: flex;
        align-items: center;
        margin-right: 16px;
    }
    .social {
        display: none !important;
    }
    .mobileRight {
        display: flex !important;
    }
    .deskTopRight {
        display: none !important;
    }
    .Navbar>.rightPart>.app {
        width: 125px;
        height: 40px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .mobileMenu {
        display: block;
        flex-grow: 1;
        text-align: right;
        margin-left: 10px;
    }
    .leftPart{
        margin-left: 16px;
    }
    .mobileMenu>img {
        width: 24px;
        height: 24px;
    }
    
}
@media screen and (max-width: 1000px) and (min-width: 481px) {
    .Navbar{
        width: 91%;
    }
    .social {
        display: none !important;
    }
    .mobileRight {
        display: flex !important;
    }
    .deskTopRight {
        display: none !important;
    }
}