.card1{
    width: 32%;
    height: 476px;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.05);
}

.circles{
    border-radius: 100%;
    background: #E7ECEF;
    width: 132px;
    height: 132px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headtext{
    font-family: 'MessinaSans-Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    /* identical to box height, or 143% */
    
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    
    /* Dark */
    
    color: #1B2022;
    
}
.headandimg{
    display: flex;
    margin: 40px;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}
.bodytext{
    width: 286px;
    height: 78px;
    font-family: 'MessinaSans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    /* or 144% */
    
    letter-spacing: -0.03em;
    
    /* Dark */
    
    color: #1B2022;
    margin: 40px;
    
}

.ttext{
    font-family: 'MessinaSans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */
    margin: 0;
    letter-spacing: -0.03em;
    
    /* Dark */
    
    color: #1B2022;
    
}
.btext{
    font-family: 'MessinaSans-Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */
    
    /* Dark */
    margin: 0;
    color: #1B2022;
    
}
.cardbottomtext{
    width: 140px;
    height: 54px;
    margin: 100px 40px 32px 40px;
}

@media screen and (max-width:480px) {
    .card1{
        position: relative;
        width: 91%;
        height: fit-content;
        margin: 70px auto 0;

        /* White */

        background: #FFFFFF;
        /* Popup */

        box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
    }
    .headandimg {
        margin: 24px 40px 0 24px;
    }
    .circles {
        width: 100px;
        height: 100px;
    }
    .bodytext {
        width: 70%;
        margin: 70px 24px 0;
    }
    .cardbottomtext {
        margin-top: 100px;
        margin-left: 24px;
        text-align: left;
    }
}
@media screen and (max-width: 1000px) and (min-width: 481px) {
    .card1 {
        position: relative;
        width: 100%;
        left: 0;
        height: fit-content;
        box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.05);
    }
    .headandimg {
        margin: 24px 40px 0 24px;
    }
    .circles {
        width: 100px;
        height: 100px;
    }
    .bodytext {
        width: 70%;
        margin: 0 24px 0;
    }
    .cardbottomtext {
        margin-top: 32px;
        margin-left: 24px;
        text-align: left;
    }
}