.p1 {
  background: #ffffff;
  border-radius: 24px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 24px;
}
.num {
  font-family: "MessinaSans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #707e85;
}
.head {
  font-family: "MessinaSans-SemiBold";
  font-style: normal;
  font-size: 28px;
  letter-spacing: -0.03em;
  color: #1b2022;
  line-height: 40px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 10px 0;
  width: 484px;
  height: 80px;

}
.body {
  font-family: "MessinaSans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 10px 0;
  width: 484px;
  height: 52px;
}
.textarea {
  padding: 2.2vmax;
}

.imagearea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:480px) {
  .p1{
    position: absolute;
    width: 328px;
    height: 480px;
    left: 16px;
    top: 1848px;
    /* White */
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }
  .head{
    width: 296px;
    height: 160px;
    /* H3/Semibold 28px */
    font-family: 'MessinaSans-Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    /* or 143% */
    
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    
    /* Dark */
    
    color: #1B2022;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
  .body{
    width: 296px;
    height: 52px;
    
    /* Body 1 / Regular 18px */
    
    font-family: 'MessinaSans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */
    
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    
    /* Dark */
    
    color: #1B2022;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    
  }
  .imagearea>img{
    transform: scale(0.7);
  }
}