.GCW{
    background-image: url(GCW.svg);
    height: 764px;
    width: 100%;
    margin-top: 96px;
    display: flex;
}

.gcwinner{
    margin-left: 132px;
    margin-top: 80px;

    box-sizing: border-box;

    width: 576px;
    height: 604px;
    
    /* White */
    
    background: #FFFFFF;
    /* Gray 1 */
    
    border: 1px solid #F8FAFA;
    /* Popup */
    
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.05);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
}

.gcwinner>h3{
    margin: 0;
    width: 426px;
    height: 144px;
    
    /* H1/Semibold 64px */
    
    font-family: 'MessinaSans-Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    /* or 112% */
    
    letter-spacing: -0.043em;
    
    /* Dark */
    
    color: #1B2022;
    margin-top: 84px;
    margin-left: 58px;
    
}
.gcwinner>span{
    width: 462px;
    height: 208px;    
    /* Body 1 / Regular 18px */
    
    font-family: 'MessinaSans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */
    
    letter-spacing: -0.03em;
    
    /* Dark */
    
    color: #1B2022;
    margin-top: 36px;
    margin-left: 58px;

    
}
.gcwinner>a{
    text-decoration: none;
    width: 122px;
    height: 24px;
    
    /* Body 2/Semibold 16px */
    
    font-family: 'MessinaSans-Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    
    /* Dark */
    
    color: #1B2022;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 32px;
    margin-left: 58px;

}