.footer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* margin: 100px; */
    margin-bottom: 10px;
    justify-items: center;
    margin-top: 150px;
    padding-bottom: 100px;
}
.footer>div{
    margin: 1vmax;
    display: flex;
    flex-direction: column;
}
.splogotext{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
.splogotext>p{
    width: 85px;
    height: 32px;
    
    font-family: 'Messina Modern';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    /* identical to box height, or 114% */
    margin-top: 18px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    
    /* Dark */
    padding-left: 20px;
    color: #1B2022;
}
.splogotext>img{
    transform: scale(1.3);
}
.footersocial{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    
    width: 188px;
    height: 32px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.footersocial>a:hover{
    transform: scale(1.15);
    cursor: pointer;
}

.rights{
    width: 290px;
    height: 18px;
    
    /* Caption / Regular 12px */
    
    font-family: 'MessinaSans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    
    letter-spacing: -0.02em;
    
    /* Gray 5 */
    
    color: #707E85;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.foottitle{
    width: 200px;
    height: 26px;
    
    /* Body 1/Semibold 18px */
    
    font-family: 'MessinaSans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    
    letter-spacing: -0.03em;
    
    /* Dark */
    
    color: #1B2022;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.footerlinks{
    text-align: left;
    font-family: 'MessinaSans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    letter-spacing: -0.03em;
    
    /* Dark */
    
    color: #1B2022;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.footerlinks .links_group {
    margin-top: 20px;
}

.footerlinks .links_group:first-child{
    margin-top: 0;
}

.sperax-desktop {
    display: block;
}
.sperax-mobile {
    display: none !important;
}

.linktextNo{
    text-decoration: none;
    color: black;
}
.linktextNo:hover{
    color: #707E85;
}

@media screen and (max-width:480px) {
    .footer {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 80px auto 0;
        width: 91%;
    }
    .sperax-desktop {
        display: none !important;
    }
    .sperax-mobile {
        display: block !important;
        margin-top: 96px !important;
        margin-bottom: 80px !important;
    }
}