body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  width: 100%;
  height: 100%;
}
html {
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.darkBtn:hover{
  background: #3AB1AB;
}
@media screen and (max-width:480px) {
  body {
    display: flex;
  }
  #root {
    width: 100%;
    overflow-x: hidden;
  }
}
.linktextNo {
  text-decoration: none;

}
