.scard2{
    width: 100%;
    height: 248px;
    background-image: url(background3.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}
.fore2{
    background: #3978A7;
    border-radius: 32px;
    z-index: -1;
    width: 576px;
    height: 248px;
    position: absolute;
}

@media screen and (max-width: 1000px) and (min-width: 481px) {
    .scard2{
        width: 100%;
        height: 160px;
        position: relative;
        background-image: url(background3.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0;
    }
    .slogo>img{
        margin: 0 20px 0;
        width: 28px;
    }
    .scount>h2 {
        margin: 0 20px 0;
        font-size: 38px;
    }
    .fore2 {
        width: 100%;
        height: fit-content;
    }
}