.scards{
    display: flex;
    margin: 37px auto;
    width: 100%;
    justify-content: space-between;
}
.boxt>div{
    margin-bottom: 32px;
    margin-right: 24px;
}
.boxb>div{
    margin-bottom: 32px;
}
.boxt {
    width: 45%;
}
.boxb {
    width: 45%;
}
.boxb>a , .boxt>a{
    text-decoration: none;
    width:fit-content;
}
@media screen and (max-width:480px) {
    .scards {
        display: flex;
        flex-direction: column;
    }
    .boxt {
        width: 91%;
        margin: auto;
    }
    .boxb {
        width: 91%;
        margin: auto;
    }

}

@media screen and (max-width: 1000px) and (min-width: 481px) {
    .boxt{
        width: 45%;
        margin: 20px;
    }
    .boxb{
        width: 45%;
        margin: 20px;
    }
    .scards {
        width: 100%;
    }
}
