.modal-mask {
    background: #000000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1001;
    overflow: hidden;
}
.dialog-mask {
    background: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1001;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.modal-content-pdd {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.modal-container-default {
    min-width: 30%;
    box-sizing: border-box;
    padding: 10px 20px 20px;
    background: #FFFFFF;
    border-radius: 30px;
    opacity: 1;
    margin: auto;
    margin-top: 10%;
    z-index: 1002;
    height: fit-content;
    text-align: left;
}
.assets-row .title {
    color: #404b51;
    font-size: 18px;
    margin-left: 14px;
    font-family: "MessinaSans-SemiBold";
}
.assets-row .asset-icon {
    width: 24px;
    height: 24px;
}
.assets-row .buy {
    margin-left: 10px;
    color: #31c1bf;
    font-family: "MessinaSans-SemiBold";
    cursor: pointer;
    text-decoration: none;
}
.assets-row .arrow_img {
    width: 12px;
}
.modal-content-default .sub_title {
    font-family: "MessinaSans-SemiBold";
    color: #1b2022;
    font-size: 18px;
    margin-bottom: 16px;
    margin-top: 32px;
}
.modal-content-default .assets-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-content-default .assets_group {
    border: 1px solid #e7ecef;
    border-radius: 20px;
    padding: 24px;
    width: 480px;
}

.modal-content-default {
    margin: auto;
    display: flex;
    flex-direction: column;
}
.dialogContainer {
    display: flex;
    flex-direction: column;
}
.modal-content {
    width: 80%;
    background: #FFFFFF;
    border-radius: 30px;
    opacity: 1;
    position: fixed;
    left: 10%;
    top: 20%;
    z-index: 1002;
    padding: 0 0 20px;
}
.dialogContainer input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    border-radius: 90px;
    padding-left: 10px;
    border: 1px solid #E0E0E0;
    outline: #808080;
    box-sizing: border-box;
}
.dialogContainer button {
    border: none;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 40px;
    width: 100%;
    height: 52px;
    margin-top: 40px;

    background: #31C1BF;
    border-radius: 40px;
}

@media screen and (max-width: 480px) {
    .modal-content-default .assets_group {
        border: 1px solid #e7ecef;
        border-radius: 16px;
        padding: 18px;
        width: 90%;
    }
}